services:
  postgres:
    image: postgres:16
    container_name: movies_db
    environment:
      POSTGRES_DB: movies-db
      POSTGRES_USER: my_user
      POSTGRES_PASSWORD: my_password
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
